@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --maincol: #FF6060;
    --white: #FFFFFF;
    --black: #000000;
    --lightgrey: #F6F6F6;
    --grey: #E3E3E3;
    --darkgrey: #C4C4C4;
    --gradient: linear-gradient(#FF606050, #00000050), var(--maincol);
}